<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleExecutable</key><string>Preview-MD-QL</string>
  <key>CFBundleIdentifier</key><string>com.preview-md.app.quicklook</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Preview-MD-QL</string>
  <key>CFBundleDisplayName</key><string>Preview-MD Quick Look</string>
  <key>CFBundlePackageType</key><string>XPC!</string>
  <key>CFBundleShortVersionString</key><string>0.2.0</string>
  <key>CFBundleVersion</key><string>0.2.0</string>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>NSHighResolutionCapable</key><true/>

  <key>NSExtension</key>
  <dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.quicklook.preview</string>
    <key>NSExtensionPrincipalClass</key>
    <string>PreviewViewController</string>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>QLIsDataBasedPreview</key>
      <true/>
      <key>QLSupportedContentTypes</key>
      <array>
        <string>net.daringfireball.markdown</string>
        <string>public.markdown</string>
        <string>com.unknown.md</string>
        <string>io.typora.markdown</string>
        <string>net.ia.markdown</string>
        <string>com.rstudio.rmarkdown</string>
        <string>org.quarto.qmarkdown</string>
        <string>dyn.ah62d4rv4ge81e5pe</string>
        <string>dyn.ah62d4rv4ge8043a</string>
        <string>dyn.ah62d4rv4ge81c5pe</string>
      </array>
      <key>QLSupportsSearchableItems</key>
      <false/>
    </dict>
  </dict>
</dict>
</plist>
